<div class = "user-profile">
	

	<%= image_tag @user.avatar.url(:medium),:class => "profile_pic"%>

	
	<%= form_for @user, :html => { :multipart => true } do |form| %>
	  <%= form.file_field :avatar %>
	  <%= form.submit "New Profile Picture", :class => "btn btn-primary"%>
	  <h5> Welcome <%= @user.name %> </h5>
	<% end %>
	
</div>

	<% if flash[:error] %>
		<div class="alert alert-danger" role="alert">

		<% flash.each do |name, msg| -%>
	      <%= content_tag :div, msg, class: name %>
	    <% end -%>
		</div>
	<% end %>


	<% if flash[:confirm] %>

		<div class="alert alert-success" role="alert">

		<% flash.each do |name, msg| -%>
	      <%= content_tag :div, msg, class: name %>
	    <% end -%>
		</div>
	<% end %>


<!-- -->
<div class="container">
  <div class="page-header">
    <h1 class="text-center">Today's Workout</h1>
  </div>
  <p class="lead text-center">Log &amp; Automatically Track all your Workouts and Exercises! </p>
  


  	<div class="container show_exercises">
    	<div class="row stylish-panel">
     	
     	<% @exercises.each do |exercise| %>
      	<div class="col-md-4">
	        <div>
	          <h2><%= exercise.name %></h2>
	          <p>Reps: <%= exercise.reps %> | Sets: <%= exercise.sets %> | RPE: <%= exercise.rpe %> | Weight:<%= exercise.weight %></p>


	          <%= link_to "Edit", edit_workout_exercise_path(@workout,exercise),:class => "btn btn-primary" %>
			  <%= link_to "Delete", workout_exercise_path(@workout,exercise),method: :delete, :class =>"btn btn-primary" %>
			</div>
      	</div>
      	<% end %>

      
    	</div>
  	</div>

</div>
<div class= "btn-group btn-group-justified log_exercises">
<p><%= link_to "Add a New Exercise", new_workout_exercise_path(@workout), :class => "btn btn-primary btn-lg " %></p>
<p><%= link_to "All Done! Log to Week", new_weeklog_path, :class => "btn btn-primary btn-lg " %></p>
</div>
<!-- -->
<div class ="container"
	<div id = "previousWeeks"> <!-- instead merge this into container scope class? -->
		<div class = "page-header">
			<h1>Previous Week Reports</h1>
		</div>

		<% @weekrecords.each do |week| %>
			<p><%= link_to week.created_at, weeklog_path(week) %></p>
		<% end %>









	</div>
</div>

<div class="container">
    <div class="page-header">
        <h1 id="timeline">Week Workout Timeline</h1>
    </div>

   

		<% @WeekWorkouts.each do |workout| %>

 		<ul class="timeline">
			 <li>
	          <div class="timeline-badge"><i class="glyphicon glyphicon-cog"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	            	<h4 class="timeline-title"><%= workout.updated_at %></h4>
           		</div>

           		 <div class="timeline-body">
           		 	<% workout.exercises.each do |i| %>
						
						<p><%= i.name %> | Reps:<%= i.reps %> | Sets: <%= i.sets %> | Weight: <%= i.weight %> </p>

					<% end %>
				</div>
			 </div>
			</li>
			</ul>
		<%end%>


</div>

























