<h2> Welcome <%= @user.name %> </h2>

<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>

<%= form_for @user, :url => workouts_path, method: :post, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit "New Profile" %>
<% end %>


	<% if flash[:error] %>
		<div class="alert alert-danger" role="alert">

		<% flash.each do |name, msg| -%>
	      <%= content_tag :div, msg, class: name %>
	    <% end -%>
		</div>
	<% end %>


	<% if flash[:confirm] %>

		<div class="alert alert-success" role="alert">

		<% flash.each do |name, msg| -%>
	      <%= content_tag :div, msg, class: name %>
	    <% end -%>
		</div>
	<% end %>


<!-- -->
<div class="container">
  <div class="page-header">
    <h1 class="text-center">Today's Workout</h1>
  </div>
  <p class="lead text-center">Log &amp; Automatically Track all your Workouts and Exercises! </p>
  


  	<div class="container">
    	<div class="row stylish-panel">
     	
     	<% @exercises.each do |exercise| %>
      	<div class="col-md-4">
	        <div>
	          <h2><%= exercise.name %></h2>
	          <p>Reps: <%= exercise.reps %> | Sets: <%= exercise.sets %> | RPE: <%= exercise.rpe %> | Weight:<%= exercise.weight %></p>


	          <%= link_to "Edit", edit_workout_exercise_path(@workout,exercise),:class => "btn btn-primary" %>
			  <%= link_to "Delete", workout_exercise_path(@workout,exercise),method: :delete, :class =>"btn btn-primary" %>
			</div>
      	</div>
      	<% end %>

      
    	</div>
  	</div>

</div>
<div class= "btn-group btn-group-justified">
<p><%= link_to "Add a New Exercise", new_workout_exercise_path(@workout), :class => "btn btn-primary btn-lg btn-block" %></p>
<p><%= link_to "All Finished! Log to Week", new_weeklog_path, :class => "btn btn-primary btn-lg btn-block" %></p>
</div>
<!-- -->

<h1>Week Workouts</h1>

<% @WeekWorkouts.each do |workout| %>
	<p><b><%= workout.updated_at %></b></p>
	
	<% workout.exercises.each do |i| %>
			
			<p><%= i.name %> | Reps:<%= i.reps %> | Sets: <%= i.sets %> | Weight: <%= i.weight %> </p>

	<% end %>

<%end%>