<h2> Welcome <%= @user.name %> </h2>

<h1>Today's Workout</h1>

<ul>
	<% @exercises.each do |exercise| %>
	
		<li>Name: <%= exercise.name %></li>
	
		<li>&nbsp; Reps: <%= exercise.reps%></li>
		<li>&nbsp; Sets: <%= exercise.sets%></li>
		<li>&nbsp; Weight: <%= exercise.weight%></li>
		<%= link_to "Edit", edit_workout_exercise_path(@workout,exercise) %>
		<%= link_to "Delete", workout_exercise_path(@workout,exercise),method: :delete %>
	
	<% end %>
</ul>
<%= link_to "Add a New Exercise", new_workout_exercise_path(@workout) %>
<%= link_to "ALL DONE! Add to the WEEK!", new_weeklog_path %>