<h2> Welcome <%= @user.name %> </h2>

<h1>Today's Workout</h1>

<% if flash[:notice] %>
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
<% end %>

<ul>
	<% @exercises.each do |exercise| %>
	
		<li>Name: <%= exercise.name %></li>
	
		<li>&nbsp; Reps: <%= exercise.reps%></li>
		<li>&nbsp; Sets: <%= exercise.sets%></li>
		<li>&nbsp; Weight: <%= exercise.weight%></li>
		<%= link_to "Edit", edit_workout_exercise_path(@workout,exercise) %>
		<%= link_to "Delete", workout_exercise_path(@workout,exercise),method: :delete %>
	
	<% end %>
</ul>
<p><%= link_to "Add a New Exercise", new_workout_exercise_path(@workout) %></p>
<P><%= link_to "All Finished! Log to Week", new_weeklog_path %></p>



<h1>Week Workouts</h1>

<% @WeekWorkouts.each do |workout| %>
	<p><b><%= workout.updated_at %></b></p>
	
	<% workout.exercises.each do |i| %>
			
			<p><%= i.name %> | Reps:<%= i.reps %> | Sets: <%= i.sets %> | Weight: <%= i.weight %> </p>

	<% end %>

<%end%>