<h1>Weekly Report</h1>

<% @WeekReport.each do |workout| %>
	<p><b><%= workout.updated_at %></b></p>
	
	<% workout.exercises.each do |i| %>
			
			<p><%= i.name %> | Reps:<%= i.reps %> | Sets: <%= i.sets %> | Weight: <%= i.weight %> </p>

	<% end %>

<%end%>