
<div class="container">
  <div class="page-header">
    <h1 class="text-center">Edit Exercise</h1>
  </div>
  <p class="lead text-center">Log &amp; </p>


 <%= form_for [@workout, @exercises], url:{ action: "update" } do |f| %> 
      <%= f.label :name %>
      <%= f.text_field :name %></br>

      <%= f.label :reps %>
      <%= f.number_field :reps %></br>
 	  
 	   <%= f.label :sets %>
       <%= f.number_field :sets %></br>
       
       <%= f.label :rpe %>
       <%= f.number_field :rpe %></br>
      
      <%= f.label :weight %>
      <%= f.number_field :weight %></br>

      <%= f.submit "Enter new Exercise", :class => "btn btn-primary" %>
 <% end  %>
    
<%= link_to "Return to Main Menu", workouts_path, :class => "btn btn-primary bottom_btn"%>

</div>